.content-header {
  margin-bottom: 20px;

  p {
    color: rgba(0,0,0,0.54);
  }
}

.jumbotron {
  max-width: 1075px;
  margin: 20px auto;

  h2 {
    padding-top: 25px;
    font-size: 50px;
  }
}

@media all and (min-width: 992px) {
  footer.site-footer {
    margin-top: 50px;
  }
}
